* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mensagem {
  color: white;
  font-weight: bolder;
}

.error {
  color: rgb(218, 77, 77);
  font-size: 12px;
}

input[type="text"], input[type="password"], .select2-container--default .select2-selection--single {
  padding: 10px 16px;
  width: 100%;
  height: 46px;
  color: rgb(84, 84, 84);
  border: 2px solid #dbe1e8;
  font-size: 13px;
  line-height: 1.3333333;   
  outline: none;
}

input[readonly] {
  cursor: not-allowed;
}

input:focus {
  border: 1px solid rgb(27, 186, 225);
}

input::placeholder {
  color: #394263;
  
}

main {
  padding-top: 70px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background-image: url('src/images/background.jpg');
}

main section {
  padding: 35px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
}

main .header h1 {
  font-size: 26px;
}

main .main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

main .main form .btnForm {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  align-self: self-end;
  background-color: #1bbae1;
  color: #ffffff;
  border: 1px solid #1593b3;
  border-radius: 3px;
  font-size: 12px;
}

main .main form .btnForm:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  cursor: pointer;
}

main .main form .formTop {
  width: 100%;
  display: flex;
  gap: 12px;
}

main .main form .esquerda, main .main form .direita {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

main .main form .formBottom h2 {
  font-weight: 400;
}

main .main form .formBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: #777777;
}

main .main form .formBottom .fornecedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

main .main form .formBottom .ramo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

main .main form .formBottom .login {
  width: 100%;
  display: flex;
  gap: 12px;
}

main .main form .formBottom .login input::placeholder {
  color: #777777;
}

main .main form .formBottom .login .verSenha {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .main form .formBottom .login .verSenha i {
  font-size: 22px;
}

main .main form .formBottom .login .verSenha i:hover {
  color: #1bbae1;
  cursor: pointer;
}

main .main form .formBottom .login .loginEsq, main .main form .formBottom .login .loginDir {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}



main footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

main footer .footerTop {
  display: flex;
  flex-direction: column;
}

main footer .footerTop .top {
  display: flex;
  align-items: center;
  gap: 8px;
}